<div class="container__small-card">
    <div class="container__small-card-content">
        <div class="small-card__photo">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3f/Placeholder_view_vector.svg/681px-Placeholder_view_vector.svg.png"
                alt="" srcset="" height="">
        </div>
        <div class="small-card__title">
            <h1> <a href=""> Nova Versão Angular </a></h1>
        </div>
    </div>
    <div class="container__small-card__separator">
        <hr>
    </div>
</div>
