<app-menu-title></app-menu-title>
<div class="container__articles">
    <div class="articles__main">
        <app-big-card
            id="{{ bigCardId }}"
            cardTitle="{{ bigCardTitle }}"
            photoCover="{{ photoCover }}"
            cardDescription="{{ bigCardDescription }}"
            >            
        </app-big-card>
    </div>
    <div class="articles__others">
        <app-small-card *ngFor="let article of smallArticle"
            id="{{ article.id }}"
            cardTitle="{{ article.title }}"
            photoCover="{{ article.photoCover }}"
        >
        </app-small-card>
    </div>   
</div>
